/* --------------------------- App-Component --------------------------- */

#App{
    width: 21rem;
    height: 36rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: rgb(85, 85, 85) 0px 0px 2.4em inset;
    background: linear-gradient(rgb(227, 227, 227) 0%, rgb(214, 214, 214) 100%);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.5, transparent), to(rgba(250, 250, 250, 0.3)));
  }